/* #region -----| Global |------------------------------------------------  */
:root {
    /* colors  */
    --color-1-light: rgb(231, 231, 231);
    --color-2-xtra-dark: rgb(41, 41, 41);

    /* font  */
    --font-headline: "Arial", sans-serif;
    ;
    --font-body: "Times New Roman", serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;

    --gap: .75rem;

    /* Javascript  */
    --scroll-y: 50
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Guide  */
    /* border: 1px solid red; */
}

html {
    /* font-size: 10px; Makes 1rem = 10px , must change font size to 1.6rem */
    font-size: 62.5%;

}

body {
    font-family: var(--font-body);
    font-size: var(--font-size-sm);
    color: black;
    background-color: white;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headline);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    /* so images dont overflow their containers  */
    max-width: 100%;
    display: block;
}

input,
button {
    /* font is shorthand for size, style, etc  */
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

/* Remix Icon Size  */
i {
    font-size: var(--font-size-md);
}

/* #endregion  */

/* #region -----| Reusable Styles |---------------------------------------*/
.container {
    /* limit how wide a container can go  */
    max-width: 160rem;
    /* center */
    margin: 0 auto;
    /* padding: 0 1.5rem; */
}

.place-items-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.d-grid {
    display: grid;
}

.section {
    padding: 3rem;
    margin: 0 auto;
    max-width: 160rem;
}

/* #endregion  */

/* #region -----| Styles |-------------------------------------  */

/* Section --------------------  */
.section-grid {
    background-color: antiquewhite;
 grid-template-columns: 2.5rem 1fr 2.5rem;
 grid-template-rows: 2.5rem 1fr 2.5rem;
 grid-template-areas: 
 "top-left-corner    top-border       top-right-corner"
 "left-border            main             right-border"
 "bottom-left-corner bottom-border bottom-right-corner";
}

/* Frame Layout  */
.multi-frames-container {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
    padding: .5rem;
    grid-area: main;
}

.frame-container {
    position: relative;
    border: 2px solid black;
    min-height: 15rem;
    /* min-width: 16rem; */
    overflow: hidden;
    transition: transform 70ms cubic-bezier(.66, .91, 1, 1.74);

}

.text-bubble {
    position: absolute;
    background-color: white;
    border-radius: 1rem;
    border: 2px solid black;
    padding: .5rem;
    margin: 1rem;
    /* width: clamp(50%, 70%, 80%); */
    text-align: center;
}

.text-bubble p {
    font-family: var(--font-headline);
    font-size: var(--font-size-xsm);
    text-transform: uppercase;
}


/* Linked svgs  -----------------------*/
.place-svg {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-svg {
    border: 1px solid blue;
    position: absolute;
    top: 0;
}

/* Embedded SVG  -----------------------*/

/* Must have wrapper  */
.svg-wrapper {
    /* Keep wrapper fit to parent */
    height: 100%;
    width: 100%;
    /* center child svg  */
    display: grid;
    place-items: center;
}


.place-embedded-svg {
    /* Override default 300px x 150px, must give height or width  */
    height: 100%;
}

/* Style Embedded svg -----  */
#hand-face-overlay01:hover .mouth {
    fill: green;
}

/* Style layout --------------  */
.frame-container:hover {
    transform: scale(1.1);
    width: max-content;







    z-index: 999;
    border: 4px solid black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);


}

.frame-container:hover > * {
    /* transform: scale(1.1); */
}


/* Scrolling Text border --------------------------------------------------------- */
.scroll-container {
    background-color: rgb(212, 212, 164);
    border: 3px solid black;
    overflow: hidden;
    /* width: 100vw; */
}

.scrolling-text {
    display: flex;
    overflow: visible;
    justify-content: center;
    align-items: center;
}

.text-block {
    /* padding-bottom: 0.5vw; */
    align-self: center;
    font-family: var(--font-headline);
    font-size: var(--font-size-sm);
    /* line-height: 2vw; */
}

.star {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    transform: rotate(calc(var(--scroll-y) * 2 * 1deg));
}

/* Border Areas  */
.top-border {
    grid-area: top-border;
}

.top-border .scrolling-text {
    justify-content: end;
        transform: translate3d(calc(var(--scroll-y) / 2 * 1px), 0px, 0px);
}

.bottom-border {
    grid-area: bottom-border;
}

.bottom-border .scrolling-text {
    justify-content: left;
    transform: translate3d(calc(var(--scroll-y) / 2 * -1px), 0px, 0px) ;
}

.left-border {
    grid-area:left-border; 
}

.left-border .scrolling-text {
    transform: rotate(-90deg) translate3d(calc(var(--scroll-y) / 2 * 1px), 0px, 0px);
}

.right-border {
    grid-area: right-border;
}

.right-border .scrolling-text {
    transform: rotate(90deg) translate3d(calc(var(--scroll-y) / 2 * 1px), 0px, 0px);
}

/* Corners  */

.corner-star {
    width: 3.5rem;
    height: 3.5rem;
    transform: rotate(calc(var(--scroll-y) * 2 * 1deg));
}
.corner-circle {
    /* position: absolute; */
    background-color: rgb(212, 212, 164);
    border-radius: 100vmax;
    border: 2px solid black;
    width: 4rem;
    height: 4rem;
    /* top: -.5rem;
    left: -.5rem; */
    /* z-index: 1; */
}

.top-left-corner {
    grid-area: top-left-corner;
    position: relative;
    top: -.5rem;
    right: .5rem;
}

.top-right-corner {
    grid-area: top-right-corner;
    position: relative;
    top: -.5rem;
    right: .7rem;
}

.bottom-left-corner {
    grid-area: bottom-left-corner;
    position: relative;
    top: -.9rem;
    right: .5rem;
}

.bottom-right-corner {
    grid-area: bottom-right-corner;
    position: relative;
    top: -.7rem;
    right: .7rem;
}





/* #endregion  */

/* #region -----| Media Queries -from MOBILE |-------------------------------------  */

/* Mobile style to min 365px  */
@media screen and (min-width: 576px) {

    .multi-frames-container {
        grid-template-columns: repeat(3, 1fr);
    }
}



@media screen and (min-width: 700px) and (max-width:1045px) {
    .multi-frames-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .frame-container:nth-child(1) {
        grid-row: 1/3;
    }

    .frame-container:nth-child(6) {
        grid-column: 4/5;
        grid-row: 1/3;
    }


}

/* xlg-screen style to max 1920 */
@media screen and (min-width: 1045px) {

    .multi-frames-container {
        grid-template-columns: repeat(6, 1fr);
    }

    .frame-container:nth-child(1) {
        grid-row: unset;
    }

    .frame-container:nth-child(6) {
        grid-column: unset;
        grid-row: unset;
    }




}

/* #endregion  */