/* #region -----| Global |------------------------------------------------  */
:root {
    /* colors  */
    --color-1-light: rgb(231, 231, 231);
    --color-2-xtra-dark: rgb(41, 41, 41);

    /* font  */
    --font-headline: 'Dela Gothic One', cursive;
    --font-body: 'Bebas Neue', cursive;


    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --font-size-xxl: 6rem;
    --font-size-xxxl: 9rem;

    --gap: 1.5rem;

    --text-border-1px-black:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

    --text-shadow-hover:
        2px 2px 0 rgb(7, 7, 7),
        3px 3px 0 rgb(46, 39, 39),
        4px 4px 0 rgb(78, 60, 60),
        5px 5px 0 rgb(105, 65, 65),
        6px 6px 0 rgb(121, 60, 60),
        7px 7px 0 rgb(145, 55, 55),
        8px 8px 0 rgb(155, 50, 50),
        9px 9px 0 rgb(156, 45, 45),
        10px 10px 0 rgb(168, 42, 42),
        11px 11px 0 rgb(190, 32, 32),
        12px 12px 0 rgb(207, 26, 26),
        13px 13px 0 rgb(224, 20, 20),
        14px 14px 0 rgb(230, 19, 19),
        15px 15px 0 rgb(253, 6, 6);

    --js-shadow-01: 0px 0px 0 white;
    --js-translate3D-01: translate3d(-20px, -20px, 0);


    --js-preload-shadow02: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Guide  */
    /* border: 1px solid red; */
}

html {
    /* font-size: 10px; Makes 1rem = 10px , must change font size to 1.6rem */
    font-size: 62.5%;

}

body {
    font-family: var(--font-body);
    font-size: var(--font-size-sm);
    color: black;
    background-color: white;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headline);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    /* so images dont overflow their containers  */
    max-width: 100%;
    display: block;
}

input,
button {
    /* font is shorthand for size, style, etc  */
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

/* Remix Icon Size  */
i {
    font-size: var(--font-size-md);
}

/* #endregion  */

/* #region -----| Reusable Styles |---------------------------------------*/
.container {
    /* limit how wide a container can go  */
    max-width: 160rem;
    /* center */
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.d-grid {
    display: grid;
}

.section {
    padding-block: 5rem;
}

/* #endregion  */

/* #region -----| Styles |-------------------------------------  */


/* #region -- WORKING Active class JS shadows --------- */
.preload-headline {
    position: relative;
    font-size: var(--font-size-xl);
    text-transform: uppercase;
    transition: all 500ms ease;
}

.first-headline {
    color: lightgreen;
}

.first-headline:hover::before {
    content: attr(data-text);
    position: absolute;
    color: aqua;
    text-shadow: var(--text-border-1px-black);
}

.second-headline {
    color: beige;
}

.second-headline:hover::before {
    content: attr(data-text);
    position: absolute;
    color: rgb(224, 150, 202);
    text-shadow: var(--text-border-1px-black);
}

/* JS set all preload shadows according to data-var-number */
.shadow01:hover {
    transform: var(--js-translate3D-01);
    text-shadow: var(--js-shadow-01)
}

.shadow02:hover {
    transform: var(--js-translate3D-02);
    text-shadow: var(--js-shadow-02)
}


/* individual Letters  */
.letter-headline {
    color: lightpink;
    text-shadow:

        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,


        2px 2px 0 black,
        3px 3px 0 black;
    font-size: 0;
}

.shadow03 {
    display: inline-block;
    font-size: var(--font-size-xl);
    transition: all 200ms ease;
}

.shadow03:hover::before {
    position: absolute;
    content: attr(data-text);
    color: magenta;
    text-shadow: var(--text-border-1px-black);
}

.shadow03:hover {
    transform: var(--js-translate3D-03);
    text-shadow: var(--js-shadow-03)
}




/* #endregion  */

/* #region Inline CSS style---------------------------------------------  */
.headline {
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.outline-text {
    color: antiquewhite;

    text-shadow:
        -1px -1px 0 rgb(80, 11, 121),
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.outline-shadow-text {
    /* -webkit-text-stroke: 1px black; */
    color: white;
    text-shadow:
        5px 5px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.hover-shadow {
    position: relative;
    transition: all 500ms ease;
}

.hover-shadow-span {
    /* transition: all 200ms ease; */
    color: lightblue;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.hover-shadow-span::after {
    transition: all 500ms ease;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hover-shadow-span:hover {
    color: red;
    transform: translate3d(-15px, -15px, 0);
    text-shadow:


        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black,

        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
}

.hover-shadow:hover .hover-shadow-span::after {
    text-shadow: var(--text-shadow-hover);
}

.hover-shadow:hover {
    transform: translate3d(-15px, -15px, 0);
}

/* #endregion  */

/* #region JS Generated Shadows ---------------------  */

.js-foreground {
    position: relative;
    color: limegreen;
    transition: all 500ms ease;
}

.js-foreground>.js-shadow {
    transition: all 500ms ease;
    /* display: none; */
    position: absolute;
    z-index: -1;
    color: aqua;
}

.js-foreground:hover {
    color: beige;
    transform: translate3d(-20px, -20px, 0);
    text-shadow:


        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black,

        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
    /* transform: translate3d(-20px, -20px, 0); */
}

.js-foreground:hover>.js-shadow {
    transition: all 500ms ease;
}

.js-shadow {
    color: beige;
}










/* #endregion  */




/* #region -----| Media Queries -from MOBILE |-------------------------------------  */

/* Mobile style to min 365px  */
@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

/* xlg-screen style to max 1920 */
@media screen and (min-width: 1200px) {}

/* #endregion  */