/* #region -----| Global |------------------------------------------------  */
:root {
    /* colors  */
    --color-1-light: rgb(231, 231, 231);
    --color-2-xtra-dark: rgb(41, 41, 41);

    /* font  */
    --font-headline: "Arial", sans-serif;
    --font-body: "Arial", sans-serif;
    --font-size-xsm: 1rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;

    --gap: .75rem;

    /* Javascript  */
    --scroll-y: 50
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Guide  */
    /* border: 1px solid red; */
}

html {
    /* font-size: 10px; Makes 1rem = 10px , must change font size to 1.6rem */
    font-size: 62.5%;

}

body {
    font-family: var(--font-body);
    font-size: var(--font-size-sm);
    color: black;
    background-color: white;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headline);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    /* so images dont overflow their containers  */
    max-width: 100%;
    display: block;
}

input,
button {
    /* font is shorthand for size, style, etc  */
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

/* Remix Icon Size  */
i {
    font-size: var(--font-size-md);
}

/* #endregion  */

/* #region -----| Reusable Styles |---------------------------------------*/
.container {
    /* limit how wide a container can go  */
    max-width: 160rem;
    /* center */
    margin: 0 auto;
    /* padding: 0 1.5rem; */
}

.place-items-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.d-grid {
    display: grid;
}

.section {
    padding: 3rem;
    margin: 0 auto;
    max-width: 160rem;
    background-color: #D1D2D4;
}

/* Layout   */
.grid-layout {
    display: grid;
    gap: var(--gap);
    grid-template-areas: 
    "hero hero"
    "left-intro right-intro"
    ;
}

/* Hero ---------------------------  */

.hero-container {
    grid-area: hero;
    position: relative;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.hero-image-banner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    
    
    
    /* Offset text below with negative margin  */
    margin-bottom: -3rem;
    
}

.hero-svg-wrapper {
    /* set height on mobile  */
    min-height: 60vh;
}

.banner-container {
    position: absolute;
    width: 100.5%;
}

/* Hero SVG  */
.place-svg {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.place-banner-svg {
    /* position: relative; */
    width: 100%;
}

.overlay-svg {
    /* border: 1px solid blue; */
    position: absolute;
    top: 0;
    width: 100%;
    /* bottom: 5rem; */
}


/* Hero text  */
.hero-text-container {
    padding: 0 1rem 1rem 1rem;
}

.text-wrap-shape {
    position: relative;
    width: 100%;
	height: 5rem;
	background-color: rgb(209, 139, 162, 0.2);
	float: right;
	shape-outside: polygon(22px -29px, 99.4% -2%, 93.29% 49.00%, 76.99% 73%, 32.36% -24%);
	shape-margin: .5rem;
}


.hero-text {
    text-align: justify;
    font-family: var(--font-body);
    font-size: var(--font-size-xsm);
    text-transform: uppercase;
    letter-spacing: .2rem;
}




/* Side panels --------------------------  */

.side-container {
    border: 2px solid black;
    grid-template-rows: repeat(3, 1fr);
}

.side-box {
    border: 2px solid black;
    padding: 1rem;
}

.side-box01-text-wrap-shape {
    background-color: bisque;
    height: 100%;
    width: 100%;

    float: right;
	shape-outside: polygon(-1px 1px, 99.4% -2%, 102% 100.1%);
	shape-margin: 10px;

}

.side-box02-text-wrap-shape {
    background-color: bisque;
    height: 100%;
    width: 100%;

    float: right;
	shape-outside: polygon(-1px 1px, 99.4% -2%, 102% 100.1%);
	shape-margin: 10px;

}

.side-box-text-content p {
    font-family: var(--font-body);
    font-size: var(--font-size-xsm);
    text-align: justify;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.side-box-text-content h3 {

}


/* Media ---------------------------  */
@media screen and (min-width: 600px) {

    .grid-layout {
        grid-template-columns: minmax(10rem, 1fr) 3fr minmax(10rem, 1fr);
        grid-template-areas: 
        "intro-left hero intro-right"
        ;
    }

    .hero-container {
        /* min-height: 80vh; */
    }

    .hero-wrapper {
        /* width: 100%; */
        /* height: 100%; */
    }

    .hero-image-banner-container {
        /* width: fit-content; */
    }




}
